---
- name: Checking before setup linux Server                                                                   
  stat: 
    path: /YMSL_WORK/ExistenceChecking
  register: check_file

- name: Result of checking before setup linux Server
  fail:
    msg: "TARGET SERVER IS EXISTING!! JOB WAS CANCELLED!!"
  when: check_file.stat.exists == false
